<!DOCTYPE html>
{% extends "home.html" %}

{% block head_title %}allmovies{% endblock%}

{% block body_block %}
    <h3>This is List of All Movies</h3>
    {% for movie in movies %}
    <br/>
    <a href="/singlemovie/{{movie.mid}}">{{movie.title}}</a>
    <br/>
    {% endfor %}
    <br/><br/>
    <div class="pagination">
        Page : {{ page }} of {{ pages }}<br/>
        <a href="?page=1">&laquo; first</a>
        {% if has_prev %}
            <a href="/listallmovies?page={{ prev_page_number }}">previous</a>
        {% endif %}
        {% if has_next %}
            <a href="/listallmovies?page={{ next_page_number }}">next</a>
        {% endif %}
        <a href="/listallmovies?page={{ pages }}">last</a>
    </div>
    <br/><br/>
{% endblock %}
